@keyframes show {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes hide {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*圆周运动*/
/*曲线运动*/
@keyframes round {
  0% {
    transform: translate(30px, 0px);
  }
  3.33333333% {
    transform: translate(29.34442802px, 6.23735072px);
  }
  6.66666667% {
    transform: translate(27.40636373px, 12.20209929px);
  }
  10% {
    transform: translate(24.27050983px, 17.63355757px);
  }
  13.33333333% {
    transform: translate(20.07391819px, 22.29434476px);
  }
  16.66666667% {
    transform: translate(15px, 25.98076211px);
  }
  20% {
    transform: translate(9.27050983px, 28.53169549px);
  }
  23.33333333% {
    transform: translate(3.1358539px, 29.83565686px);
  }
  26.66666667% {
    transform: translate(-3.1358539px, 29.83565686px);
  }
  30% {
    transform: translate(-9.27050983px, 28.53169549px);
  }
  33.33333333% {
    transform: translate(-15px, 25.98076211px);
  }
  36.66666667% {
    transform: translate(-20.07391819px, 22.29434476px);
  }
  40% {
    transform: translate(-24.27050983px, 17.63355757px);
  }
  43.33333333% {
    transform: translate(-27.40636373px, 12.20209929px);
  }
  46.66666667% {
    transform: translate(-29.34442802px, 6.23735072px);
  }
  50% {
    transform: translate(-30px, 0px);
  }
  53.33333333% {
    transform: translate(-29.34442802px, -6.23735072px);
  }
  56.66666667% {
    transform: translate(-27.40636373px, -12.20209929px);
  }
  60% {
    transform: translate(-24.27050983px, -17.63355757px);
  }
  63.33333333% {
    transform: translate(-20.07391819px, -22.29434476px);
  }
  66.66666667% {
    transform: translate(-15px, -25.98076211px);
  }
  70% {
    transform: translate(-9.27050983px, -28.53169549px);
  }
  73.33333333% {
    transform: translate(-3.1358539px, -29.83565686px);
  }
  76.66666667% {
    transform: translate(3.1358539px, -29.83565686px);
  }
  80% {
    transform: translate(9.27050983px, -28.53169549px);
  }
  83.33333333% {
    transform: translate(15px, -25.98076211px);
  }
  86.66666667% {
    transform: translate(20.07391819px, -22.29434476px);
  }
  90% {
    transform: translate(24.27050983px, -17.63355757px);
  }
  93.33333333% {
    transform: translate(27.40636373px, -12.20209929px);
  }
  96.66666667% {
    transform: translate(29.34442802px, -6.23735072px);
  }
  100% {
    transform: translate(30px, 0px);
  }
}
@keyframes quxian {
  0% {
    transform: translate(100px, 0px);
  }
  0.83333333% {
    transform: translate(99.86295348px, 16.26946572px);
  }
  1.66666667% {
    transform: translate(99.45218954px, 29.72579302px);
  }
  2.5% {
    transform: translate(98.76883406px, 38.04226065px);
  }
  3.33333333% {
    transform: translate(97.81476007px, 39.78087581px);
  }
  4.16666667% {
    transform: translate(96.59258263px, 34.64101615px);
  }
  5% {
    transform: translate(95.10565163px, 23.51141009px);
  }
  5.83333333% {
    transform: translate(93.35804265px, 8.31646763px);
  }
  6.66666667% {
    transform: translate(91.35454576px, -8.31646763px);
  }
  7.5% {
    transform: translate(89.10065242px, -23.51141009px);
  }
  8.33333333% {
    transform: translate(86.60254038px, -34.64101615px);
  }
  9.16666667% {
    transform: translate(83.86705679px, -39.78087581px);
  }
  10% {
    transform: translate(80.90169944px, -38.04226065px);
  }
  10.83333333% {
    transform: translate(77.71459615px, -29.72579302px);
  }
  11.66666667% {
    transform: translate(74.31448255px, -16.26946572px);
  }
  12.5% {
    transform: translate(70.71067812px, 0px);
  }
  13.33333333% {
    transform: translate(66.91306064px, 16.26946572px);
  }
  14.16666667% {
    transform: translate(62.9320391px, 29.72579302px);
  }
  15% {
    transform: translate(58.77852523px, 38.04226065px);
  }
  15.83333333% {
    transform: translate(54.4639035px, 39.78087581px);
  }
  16.66666667% {
    transform: translate(50px, 34.64101615px);
  }
  17.5% {
    transform: translate(45.39904997px, 23.51141009px);
  }
  18.33333333% {
    transform: translate(40.67366431px, 8.31646763px);
  }
  19.16666667% {
    transform: translate(35.83679495px, -8.31646763px);
  }
  20% {
    transform: translate(30.90169944px, -23.51141009px);
  }
  20.83333333% {
    transform: translate(25.88190451px, -34.64101615px);
  }
  21.66666667% {
    transform: translate(20.79116908px, -39.78087581px);
  }
  22.5% {
    transform: translate(15.6434465px, -38.04226065px);
  }
  23.33333333% {
    transform: translate(10.45284633px, -29.72579302px);
  }
  24.16666667% {
    transform: translate(5.23359562px, -16.26946572px);
  }
  25% {
    transform: translate(0px, 0px);
  }
  25.83333333% {
    transform: translate(-5.23359562px, 16.26946572px);
  }
  26.66666667% {
    transform: translate(-10.45284633px, 29.72579302px);
  }
  27.5% {
    transform: translate(-15.6434465px, 38.04226065px);
  }
  28.33333333% {
    transform: translate(-20.79116908px, 39.78087581px);
  }
  29.16666667% {
    transform: translate(-25.88190451px, 34.64101615px);
  }
  30% {
    transform: translate(-30.90169944px, 23.51141009px);
  }
  30.83333333% {
    transform: translate(-35.83679495px, 8.31646763px);
  }
  31.66666667% {
    transform: translate(-40.67366431px, -8.31646763px);
  }
  32.5% {
    transform: translate(-45.39904997px, -23.51141009px);
  }
  33.33333333% {
    transform: translate(-50px, -34.64101615px);
  }
  34.16666667% {
    transform: translate(-54.4639035px, -39.78087581px);
  }
  35% {
    transform: translate(-58.77852523px, -38.04226065px);
  }
  35.83333333% {
    transform: translate(-62.9320391px, -29.72579302px);
  }
  36.66666667% {
    transform: translate(-66.91306064px, -16.26946572px);
  }
  37.5% {
    transform: translate(-70.71067812px, 0px);
  }
  38.33333333% {
    transform: translate(-74.31448255px, 16.26946572px);
  }
  39.16666667% {
    transform: translate(-77.71459615px, 29.72579302px);
  }
  40% {
    transform: translate(-80.90169944px, 38.04226065px);
  }
  40.83333333% {
    transform: translate(-83.86705679px, 39.78087581px);
  }
  41.66666667% {
    transform: translate(-86.60254038px, 34.64101615px);
  }
  42.5% {
    transform: translate(-89.10065242px, 23.51141009px);
  }
  43.33333333% {
    transform: translate(-91.35454576px, 8.31646763px);
  }
  44.16666667% {
    transform: translate(-93.35804265px, -8.31646763px);
  }
  45% {
    transform: translate(-95.10565163px, -23.51141009px);
  }
  45.83333333% {
    transform: translate(-96.59258263px, -34.64101615px);
  }
  46.66666667% {
    transform: translate(-97.81476007px, -39.78087581px);
  }
  47.5% {
    transform: translate(-98.76883406px, -38.04226065px);
  }
  48.33333333% {
    transform: translate(-99.45218954px, -29.72579302px);
  }
  49.16666667% {
    transform: translate(-99.86295348px, -16.26946572px);
  }
  50% {
    transform: translate(-100px, 0px);
  }
  50.83333333% {
    transform: translate(-99.86295348px, 16.26946572px);
  }
  51.66666667% {
    transform: translate(-99.45218954px, 29.72579302px);
  }
  52.5% {
    transform: translate(-98.76883406px, 38.04226065px);
  }
  53.33333333% {
    transform: translate(-97.81476007px, 39.78087581px);
  }
  54.16666667% {
    transform: translate(-96.59258263px, 34.64101615px);
  }
  55% {
    transform: translate(-95.10565163px, 23.51141009px);
  }
  55.83333333% {
    transform: translate(-93.35804265px, 8.31646763px);
  }
  56.66666667% {
    transform: translate(-91.35454576px, -8.31646763px);
  }
  57.5% {
    transform: translate(-89.10065242px, -23.51141009px);
  }
  58.33333333% {
    transform: translate(-86.60254038px, -34.64101615px);
  }
  59.16666667% {
    transform: translate(-83.86705679px, -39.78087581px);
  }
  60% {
    transform: translate(-80.90169944px, -38.04226065px);
  }
  60.83333333% {
    transform: translate(-77.71459615px, -29.72579302px);
  }
  61.66666667% {
    transform: translate(-74.31448255px, -16.26946572px);
  }
  62.5% {
    transform: translate(-70.71067812px, 0px);
  }
  63.33333333% {
    transform: translate(-66.91306064px, 16.26946572px);
  }
  64.16666667% {
    transform: translate(-62.9320391px, 29.72579302px);
  }
  65% {
    transform: translate(-58.77852523px, 38.04226065px);
  }
  65.83333333% {
    transform: translate(-54.4639035px, 39.78087581px);
  }
  66.66666667% {
    transform: translate(-50px, 34.64101615px);
  }
  67.5% {
    transform: translate(-45.39904997px, 23.51141009px);
  }
  68.33333333% {
    transform: translate(-40.67366431px, 8.31646763px);
  }
  69.16666667% {
    transform: translate(-35.83679495px, -8.31646763px);
  }
  70% {
    transform: translate(-30.90169944px, -23.51141009px);
  }
  70.83333333% {
    transform: translate(-25.88190451px, -34.64101615px);
  }
  71.66666667% {
    transform: translate(-20.79116908px, -39.78087581px);
  }
  72.5% {
    transform: translate(-15.6434465px, -38.04226065px);
  }
  73.33333333% {
    transform: translate(-10.45284633px, -29.72579302px);
  }
  74.16666667% {
    transform: translate(-5.23359562px, -16.26946572px);
  }
  75% {
    transform: translate(0px, 0px);
  }
  75.83333333% {
    transform: translate(5.23359562px, 16.26946572px);
  }
  76.66666667% {
    transform: translate(10.45284633px, 29.72579302px);
  }
  77.5% {
    transform: translate(15.6434465px, 38.04226065px);
  }
  78.33333333% {
    transform: translate(20.79116908px, 39.78087581px);
  }
  79.16666667% {
    transform: translate(25.88190451px, 34.64101615px);
  }
  80% {
    transform: translate(30.90169944px, 23.51141009px);
  }
  80.83333333% {
    transform: translate(35.83679495px, 8.31646763px);
  }
  81.66666667% {
    transform: translate(40.67366431px, -8.31646763px);
  }
  82.5% {
    transform: translate(45.39904997px, -23.51141009px);
  }
  83.33333333% {
    transform: translate(50px, -34.64101615px);
  }
  84.16666667% {
    transform: translate(54.4639035px, -39.78087581px);
  }
  85% {
    transform: translate(58.77852523px, -38.04226065px);
  }
  85.83333333% {
    transform: translate(62.9320391px, -29.72579302px);
  }
  86.66666667% {
    transform: translate(66.91306064px, -16.26946572px);
  }
  87.5% {
    transform: translate(70.71067812px, 0px);
  }
  88.33333333% {
    transform: translate(74.31448255px, 16.26946572px);
  }
  89.16666667% {
    transform: translate(77.71459615px, 29.72579302px);
  }
  90% {
    transform: translate(80.90169944px, 38.04226065px);
  }
  90.83333333% {
    transform: translate(83.86705679px, 39.78087581px);
  }
  91.66666667% {
    transform: translate(86.60254038px, 34.64101615px);
  }
  92.5% {
    transform: translate(89.10065242px, 23.51141009px);
  }
  93.33333333% {
    transform: translate(91.35454576px, 8.31646763px);
  }
  94.16666667% {
    transform: translate(93.35804265px, -8.31646763px);
  }
  95% {
    transform: translate(95.10565163px, -23.51141009px);
  }
  95.83333333% {
    transform: translate(96.59258263px, -34.64101615px);
  }
  96.66666667% {
    transform: translate(97.81476007px, -39.78087581px);
  }
  97.5% {
    transform: translate(98.76883406px, -38.04226065px);
  }
  98.33333333% {
    transform: translate(99.45218954px, -29.72579302px);
  }
  99.16666667% {
    transform: translate(99.86295348px, -16.26946572px);
  }
  100% {
    transform: translate(100px, 0px);
  }
}
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
